footer {
    display: flex;
    justify-content: center;
    padding: 100px 100px 0 0;
    background: linear-gradient(rgb(51 40 146),rgb(2 21 56),rgb(3 21 56));

    .footer-img {

        .footer-img-1 {
            transform: translate(190px, -135px);
        }

        .footer-img-2 {
            width: 50%;
        }
    }

    .footer-desc {
        margin: 60px;

        .footer-desc-card {
            display: flex;
            margin-bottom: 50px;

            .foot-card-1 {

                .foot-1-secondary {
                    margin-top: 30px;
                    text-transform: capitalize;
                    
                    p {
                        margin: 5px;
                        font-weight: 100;
                    }
                }
            }

            .foot-card-2 {
                transform: translateX(100px);
            }
        }
    }

    .foot-1-primary {
        font-size: 22px;
        text-transform: uppercase;
        p {
            letter-spacing: 6px;
        }
    }

    .foot-2-secondary {
        margin: 30px 0;

        img {
            margin-right: 20px;
        }
    }

    .copyRight {
        font-size: 10px;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}