@import "./_nav";

header {
    overflow: hidden;
}

.head-part-2 {
    height: 100vh;
    display: flex;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;

    .head-description {
        width: 60%;
        margin-top: 15%;
        transform: translateX(120px);
    }

    .head-img {
        img {
            position: relative;
            width: 100%;
        }
    }

    .head-title {
        font-family: $Panthera;
        font-size: 50px;
        color: $pink_3;
        transition: all .3s ease-in-out;
    }

    .head-subtitle {
        font-family: $Benyo;
        font-size: 25px;
        margin: 5px 0 20px 0;
        color: $pink_3;
        transition: all .3s ease-in-out;
    }

    .head-text {
        margin-bottom: 20px;
        width: 70%;
    }

    .head-link {
        a{
            color: $white;
        }
    }
}

//Wakanda page

.wakanda-head {
    height: 100vh;
    background: url(./../Illustrations/Wakanda_page/Pantherwakanda1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .wakanda-head-content {
        color: $pink_3;
        width: 80%;
        padding: 15% 0 0 3%;
        transform: translateX(100px);

        .wakanda-title {
            margin-bottom: 20px;
            font-family: $Benyo;
            font-size: 50px;
            transition: all .3s ease;
        }

        .wakanda-subtitle {
            margin-bottom: 20px;
            font-family: $Wakanda;
            font-size: 25px;
            transition: transform .3s ease;
        }

        .wakanda-text {
            text-align: justify;
            width: 50%;
        }
    }
}

//Enigme page

.enigme-head {
    .enigme-head-content {
        display: flex;

        .enigme-img {
            img {
                width: 100%;
            }
        }
        .enigme-text {
            width: 50%;
            transform: translateX(-100px);
            margin-top: 200px;

            h1 {
                font-family: $Benyo;
                font-size: 50px;
                color: $pink_3;
                transition: all .3s ease-in-out;
            }
    
            p {
                font-size: 12px;
                letter-spacing: 1.5;
                font-weight: 100;
                width: 70%;
                text-align: justify;
            }

            .enigme-text-item {
                transform: translate(100px,160px);

                div{
                    text-align: center;
                    transform: translateX(-80px);

                    img {
                        width: 30px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.fond-enigme-text {
    position: absolute;
    width: 140%;
    z-index: -1;
}


