.slide-card {
    display: flex;
    background: rgb(3 20 54);
    width: 100%;

    .card-text {
        font-size: 12px;
        width: 70%;
        text-align: justify;
        padding: 20px;

        h1 {
            font-family: $Benyo;
            color: $pink_3;
            font-size: 20px;
        }

        p {
            margin-top: 20px;
            a {
                color: $white;
                display: block;
                margin-top:10px;
            }
        }
    }
}